@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: "Montserrat", sans-serif;
}
html {
	box-sizing: border-box;
}
.headline1,
.headline2,
.headline4,
.body1,
.button {
	font-weight: bold;
}
.headline1 {
	font-size: 53px;
}
.headline2 {
	font-size: 43px;
}
.headline3 {
	font-size: 34px;
	a {
		text-decoration: none;
		color: #00445b;
	}
}
.headline4 {
	font-size: 27px;
}
.headline5 {
	font-size: 22px;
}
.subtitle1,
.body1 {
	font-size: 18px;
	letter-spacing: 0.02em;
}
.body2 {
	font-weight: normal;
}
.body2,
.button,
.overline {
	font-size: 14px;
	letter-spacing: 0.02em;
	font-family: "Montserrat", sans-serif;
}
.overline {
	letter-spacing: 0;
}

body {
	background: linear-gradient(
			124.06deg,
			#ecfefa 9.47%,
			#bee9ff 29.35%,
			#dbeaff 60.79%,
			#f3dbff 85.49%
		)
		no-repeat;
	font-family: "Montserrat", sans-serif;
}
.container-fluid {
	width: 100%;
	max-width: 1320px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	.wrapper {
		max-width: 1140px;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 100px;
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.navbarBrand {
				padding-top: 5px;
				img {
					width: 70%;
				}
			}
			.navbarLink {
				ul {
					display: flex;
					align-items: center;
					li {
						list-style: none;
						margin-left: 30px;
						text-align: center;
						a {
							text-decoration: none;
							color: #000;
						}
					}
				}
			}
			.hamburger {
				display: none;
			}
		}
		header {
			width: 100%;
			.headerItem {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.headerRightItem {
					margin-right: 5%;
					img {
						width: 400px;
					}
				}
				.headerLeftItem {
					padding: 0 8% 0 0%;
					h1 {
						margin-bottom: 20px;
					}
					h5 {
						margin-bottom: 40px;
					}
				}
			}
		}
		.sliderWrap {
			width: 100%;
			padding: 75px 0;
			.sliderItems {
				.sliderTitle {
					h3 {
						margin-bottom: 30px;
					}
				}
				.sliderContents {
					width: 100%;
					// display: flex;
					// align-items: center;
					.sliderItem {
						width: 380px;
						padding: 0 10px;
						text-decoration: none;
						color: #000;
						.itemImg {
							margin-bottom: 20px;
							img {
								width: 100%;
							}
						}
						.itemCaption {
							.body1 {
								letter-spacing: 0;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
		.sliderNavActive {
			opacity: 1 !important;
		}
		.slide {
			.sliderItem > a {
				text-decoration: none;
				color: #000;
			}
			.sliderItem > a > div {
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
				background: #ecfefa;
			}
			.sliderItem .itemImg {
				margin: 0 0 -3px 0 !important;
			}
			.itemCaption {
				padding: 37px;
				box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 15px;
				background: rgb(236, 254, 250);
				.body2 {
					margin-bottom: 30px;
				}
			}
		}
		.teachers {
			.itemCaption {
				.body2 {
					margin-bottom: 10px;
				}
			}
		}
		.photos {
			.sliderContents {
				flex-wrap: wrap;
			}
		}
		.videos {
			iframe {
				width: 100%;
				height: 240px;
			}
		}
		.students {
			.headline3 {
				margin-bottom: 70px !important;
			}
			.sliderItem > a > div {
				position: relative;
			}
			.sliderItem {
				position: relative;
				.itemImg {
					position: absolute;
					top: -50px;
					left: 36%;
					width: 100px;
					height: 100px;
				}
				.itemCaption {
					padding: 90px 37px 37px 37px;
				}
			}
			.itemImg {
				margin: 0 !important;
			}
			.body2 {
				margin-bottom: 10px !important;
				letter-spacing: 0;
			}
		}
		.clients {
			.itemImg {
				margin: 0 !important;
			}
			.body2:nth-child(2) {
				color: #646464 !important;
			}
			.body2 {
				margin-bottom: 20px !important;
			}
			.star {
				color: #fdb44b;
			}
		}
		.location {
			#map {
				height: 300px;
			}
			.mapCaption {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 30px;
				.adress,
				.number,
				.post,
				.socials {
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						margin-right: 10px;
					}
				}
				.adress {
					width: 25%;
				}
				.number {
					width: 20%;
				}
				.post {
					width: 20%;
				}
				.socials {
					width: 35%;
					.social {
						margin-left: 10px;
						a {
							margin: 0 5px;
							i {
								color: #00445b;
							}
						}
					}
				}
			}
		}
	}
	.clickCard {
		width: 100vw;
		height: 100vh;
		background: #0000009e;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.coursesPopup,
		.popupFinish {
			width: 40%;
			.popupBrand {
				background: #00445b;
				text-align: center;
				padding: 20px 0;
				position: relative;
				.close {
					position: absolute;
					top: 15px;
					right: 15px;
					font-size: 28px;
					color: #fff;
					cursor: pointer;
				}
			}
			.popupContent {
				background: #e5e5e5;
				padding: 50px 100px;
				display: flex;
				flex-direction: column;
				h2 {
					margin-bottom: 40px;
					font-weight: 500 !important;
				}
				input {
					background: #ffffff;
					border: 0.5px solid #646464;
					outline: none;
					padding: 20px;
					margin: 20px 0;
					font-size: 16px;
				}
				.submit {
					margin-top: 40px;
					width: 70%;
					margin-left: 100px;
				}
			}
		}
		.popupFinish {
			.subtitle1 {
				text-align: center;
			}
			.submit {
				margin: 40px auto 0 auto !important;
			}
		}
	}
	.submit {
		padding: 20px 40px;
		background: #00445b;
		border: none;
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease-in;
		&:hover {
			background: #ecfefa;
			color: #000;
		}
	}
}
footer {
	background: #bee9ff;
	.wrapper {
		padding-bottom: 0 !important;
		.contact {
			position: relative;
			form {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.name {
					width: 30%;
					input {
						width: 95%;
					}
				}
				.phoneNumber,
				.emailPost {
					width: 25%;
					text-align: center;
					input {
						width: 85%;
					}
				}
				.submitBtn {
					width: 20%;
					text-align: center;
				}
				input {
					outline: none;
					padding: 20px 10px;
					border: none;
					font-size: 16px;
					&::placeholder {
						font-size: 14px;
						letter-spacing: 0.02em;
					}
				}
				&::before {
					position: absolute;
					top: 110px;
					left: 50%;
					transform: translate(-50%, -50%);
					content: "";
					width: 300px;
					height: 1px;
					background: rgba(0, 68, 91, 0.5);
				}
			}
		}
		.footerBrand {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			// height: 45vh;
			padding: 8% 0 4% 0;
			.imgBrand {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
.hide {
	display: none !important;
}
.show {
	display: block;
}

//////
//
///
.carousel {
	background: transparent !important;
}

.carousel-cell {
	width: 28%;
	height: 200px;
	margin-right: 10px;
	background: #8c8;
	border-radius: 5px;
	counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
	background: #ed2;
}
.carousel-cell:before {
	display: block;
	text-align: center;
	content: counter(carousel-cell);
	line-height: 200px;
	font-size: 80px;
	color: white;
}
.flickity-page-dots {
	bottom: 0px;
}
.flickity-page-dots .dot {
	border-radius: 3px !important;
	width: 35px !important;
	height: 4px !important;
}
.flickity-page-dots .dot.is-selected {
	width: 35px;
	height: 4px;
}
.students {
	.flickity-viewport {
		padding-top: 100px !important;
		height: 350px !important;
	}
}
.courses {
	.itemCaption {
		padding: 37px 37px 85px 37px !important;
	}
	.submit {
		transform: translate(36px, -100px) !important;
	}
}

@media (max-width: 575.98px) {
	.wrapper {
		padding-bottom: 0 !important;
		nav {
			position: relative;
			.navbarLink {
				display: none;
				align-items: center;
				justify-content: center;
				width: 100vw;
				height: 100vh;
				background: rgba(0, 0, 0, 0.925);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 99;
				.times{
					display: block !important;
					position: absolute;
					right: 20px;
					top: 0;
					padding: 20px;
					cursor: pointer;
					i{
						font-size: 30px;
						color: #ffffff;
					}
				}
				ul{
					flex-direction: column;
					li{
						margin: 2vh 0 !important;
						a{
							color: #ffffff !important;
						}
					}
				}
			}
			.navbarBrand {
				padding: 15px 0px 0 15px !important;
				img {
					width: 50% !important;
				}
			}
			.hamburger {
				display: block !important;
				padding: 20px;
				a {
					text-decoration: none;
					color: #000;
					i{
						font-size: 28px;
					}
				}
			}
		}
		header {
			.headerRightItem {
				display: none;
			}
			.headerLeftItem {
				padding: 10% 5% 0 5% !important;
			}
		}
		.sliderWrap {
			.sliderItems {
				.sliderContents {
					flex-direction: column;
					.sliderItem {
						width: 100% !important;
						margin-bottom: 20px !important;
					}
				}
			}
		}
		.students {
			.headline3 {
				margin-bottom: 0 !important;
			}
		}
		.location {
			.mapCaption {
				flex-direction: column;
				padding: 0 15px;
				div {
					width: 100% !important;
					margin: 20px 0;
				}
				.socials {
					flex-direction: column;
					.social {
						text-align: center;
					}
				}
			}
		}
	}
	.headline1 {
		font-size: 32px;
	}
	.headline5 {
		font-size: 18px;
	}
	.headline3 {
		padding-left: 15px;
	}
	.flickity-page-dots .dot {
		width: 25px !important;
	}
	footer .wrapper .contact form {
		flex-direction: column;
		padding: 0 15px;
		div {
			width: 100% !important;
			margin: 20px 0;
			input {
				width: 100% !important;
			}
		}
		&::before {
			display: none;
		}
	}
	footer .wrapper .footerBrand {
		.imgBrand {
			display: none;
		}
		.info {
			text-align: center;
		}
	}

	.container-fluid .clickCard .coursesPopup,
	.container-fluid .clickCard {
		.coursesPopup {
			width: 100%;
			.popupBrand {
				img {
					width: 40%;
				}
			}
			.popupContent {
				padding: 0 15px 10px 15px;
				h2 {
					text-align: center;
					margin: 0;
					font-size: 32px;
				}
				button {
					margin: 0 !important;
					width: 100% !important;
				}
			}
		}
		.popupFinish {
			width: 100%;
			.popupBrand {
				display: none;
			}
			.popupContent {
				padding: 50px 15px !important;
			}
		}
	}
}
